/*Variáveis*/

:root{
    --vermelho: #E50914;
    --preta: #141414;
}

/*Elementos principais da página*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Graduate', cursive;
}

body {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--preta);
    color: white;
    
}

header .logo {
    color: var(--vermelho);
    font-family: 'Graduate', cursive;
    font-size: 40px;
    cursor: pointer;
}

header .logo:hover{
    color: #ffffff;
    transition: 5s;
}

header .containermeu{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    margin-left: 10px;
}

header nav a{
    text-decoration: none;
    color: #AAA;
    margin-right: 30px;
}

header nav a:hover{
    color: #fff;
    transition: 0,2s;
}

/* Filme Principal*/

.album-principal1{
    font-size: 18px;
    background: linear-gradient(#14141441,#141414 100%), url('../img/Nacaozumbi\ fome\ de\ tudo.webp');
    width: 100%;
    height: 600px;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
    padding-top: 30px;
}

.album-principal1, .containermeu .descricao{
    margin-bottom: 30px;
    margin-top: 10px;
    color: white;

}

.album-principal1 .containermeu .titulo{
    font-size: 40px;
    margin-top: 2%;
    color: white;
}

.album-principal1 .containermeu{
    width: 40%;
    padding: 30px;
}



.album-principal2{
    font-size: 18px;
    background: linear-gradient(#14141441,#141414 100%), url('../img/Don\ L\ roteiro.jpg');

    height: 600px;
    background-size: cover ;

    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
    padding-top: 30px;
}

.album-principal2 .containermeu .titulo{
    font-size: 40px;
    margin-top: 2%;
    color: white;
}

.album-principal2, .containermeu .descricao{
    margin-bottom: 30px;
    margin-top: 10px;
    color: white;

}

.album-principal2 .containermeu{
    width: 50%;
    padding: 30px;
}

.indexreal{
    font-size: 18px;
    background:linear-gradient(#1414140a, #141414 100%), url('../img/Soundflix.png');
    width: 100%;
    height: 600px;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
    padding-top: 30px;
}

.indexreal, .containermeu .descricao{
    margin-bottom: 30px;
    margin-top: 10px;
    color: white;

}

.indexreal .containermeu .titulo{
    font-size: 40px;
    margin-top: 2%;
    color: white;
}

.indexreal .containermeu{
    width: 40%;
    padding: 30px;
}

main audio{
    display: flex;
    clear: left;
    margin-top: 30px;
}

main button{
    background: black;
    background-color: rgba(0,0,0,.5);
    border: none;
    color: white;
    padding: 15px;
    margin-left: 15px;
    margin-right: 15px;
    font-size: 14px;
    cursor: pointer;
}

main button:hover{
    transition: .3s;
    background: white;
    color: black;
}



main{
    margin-bottom: 5px;
}

.box-albuns-mini{
    width: 300px;
    height: 300px;
    display: block;
}

.carrossel-albuns{
    margin-top: 5px;
}

.carrossel-eps{
    margin-top: 40px;
}

footer {
    background-color: var(--preta);
    color: var(--preta);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
    padding: 30px;
    text-align: center;
    align-items: center;
    
}

footer:hover {
    background-color:var(--preta);
    color: white;
    font-style: italic;
    padding: 30px;
    transition: 0.3s;
    align-items: center;
}